:root {
  --color-black: #121212;
  --color-purple: #7646ff;
  --color-blue-purple: #4865ff;
  --color-white: #fefefe;
  --brand-gradient: linear-gradient(135deg, #641bff 0%, #9d50ff 100%);
  --brand-gradient-transparent: linear-gradient(90deg, #A900FF22 0%, #5200FF22 95.38%);
}
